<div>
    <div>
        <form role="form" class="form-horizontal">
            <div class="form-group form-group-sm">
                <label for="dayRate" class="col-sm-3 control-label">Day rate</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" name="dayRate" ng-model="calc.data.dayRate">
                </div>
            </div>
            <div class="form-group  form-group-sm">
                <label for="weeksPerYear" class="col-sm-3 control-label">Weeks per year</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" name="weeksPerYear" ng-model="calc.data.weeksPerYear">
                </div>
            </div>
            <div class="form-group  form-group-sm">
                <label for="payeSalary" class="col-sm-3 control-label">PAYE salary</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" name="payeSalary" ng-model="calc.data.payeSalary">
                </div>
            </div>
            <div class="form-group  form-group-sm">
                <label for="vatFlatRatePercentage" class="col-sm-3 control-label">VAT Flat Rate %</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" name="vatFlatRatePercentage" ng-model="calc.data.vatFlatRatePercentage">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="calc.data.vatFirstYear"> VAT first year
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group  form-group-sm">
                <label for="dividendPercentage" class="col-sm-3 control-label">Dividend %</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" name="dividendPercentage" ng-model="calc.data.dividendPercentage">
                </div>
            </div>
            <div class="form-group  form-group-sm">
                <label for="yearlyCosts" class="col-sm-3 control-label">Yearly costs</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" name="yearlyCosts" ng-model="calc.data.yearlyCosts">
                </div>
            </div>
            <div class="form-group  form-group-sm">
                <label for="dailyExpenses" class="col-sm-3 control-label">Daily expenses</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" name="dailyExpenses" ng-model="calc.data.dailyExpenses">
                </div>
            </div>
            <div class="form-group  form-group-sm">
                <label for="yearlyExpenses" class="col-sm-3 control-label">Yearly expense</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" name="yearlyExpenses" ng-model="calc.data.yearlyExpenses">
                </div>
            </div>
            <div class="form-group  form-group-sm">
                <label for="pensionPercentage" class="col-sm-3 control-label">Pension percentage</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" name="pensionPercentage" ng-model="calc.data.pensionPercentage">
                </div>
            </div>
        </form>
    </div>
    <div>
        <dl class="dl-horizontal">
            <dt>Gross income</dt>
            <dd>{{ calc.grossIncome() }}</dd>
            <dt>VAT saving</dt>
            <dd>{{ calc.vatFlatRateSaving() }}</dd>
            <dt>Turnover</dt>
            <dd>{{ calc.turnover() }}</dd>
            <dt>Pre tax profit</dt>
            <dd>{{ calc.preTaxProfit() }}</dd>
            <dt>Corporation tax</dt>
            <dd class="tax">{{ calc.corporationTax() }}</dd>
            <dt>Employers NICs</dt>
            <dd class="tax">{{ calc.employersNics() }}</dd>
            <dt>Post tax profit</dt>
            <dd>{{ calc.postTaxProfit() }}</dd>
            <hr/>
            <dt>Employees NICs</dt>
            <dd class="tax">{{ calc.employeesNics() }}</dd>
            <hr/>
            <dt>Dividend net</dt>
            <dd>{{ calc.dividendNet() }}</dd>
            <dt>Dividend gross</dt>
            <dd>{{ calc.dividendGross() }}</dd>
            <dt>Taxable gross income</dt>
            <dd>{{ calc.taxableGrossIncome() }}</dd>
            <dt>Dividend tax</dt>
            <dd class="tax">{{ calc.dividendTax() }}</dd>
            <hr/>
            <dt>PAYE salary</dt>
            <dd>{{ calc.data.payeSalary }}</dd>
            <dt>Total expenses</dt>
            <dd>{{ calc.totalExpenses() }}</dd>
            <dt>PAYE tax</dt>
            <dd class="tax">{{ calc.payeTax() }}</dd>
            <dt>Employees NICs</dt>
            <dd class="tax">{{ calc.employeesNics() }}</dd>
            <dt>Dividend net</dt>
            <dd>{{ calc.dividendNet() }}</dd>
            <dt>Dividend tax</dt>
            <dd class="tax">{{ calc.dividendTax() }}</dd>
            <hr/>
            <dt>Take home pay</dt>
            <dd>{{ calc.takeHomePay() }}</dd>
            <dt>(Per month)</dt>
            <dd>{{ calc.takeHomePay() / 12 }}</dd>
            <dt>Profit left in company</dt>
            <dd>{{ calc.profitLeftInCompany() }}</dd>
            <dt>Pension</dt>
            <dd>{{ calc.pension() }}</dd>
        </dl>
    </div>
</div>