<div class="row">
    <input type="button" ng-click="addCalc()" value="Add Calc">
</div>
<div class="row">
    <input type="button" ng-click="refreshScenarios()" value="RefreshScenarios">
    <ul ng-repeat="scenario in scenarios">
        <li>{{ scenario.id }} - {{scenario.name}}</li>
    </ul>
</div>

<div class="row">
    <div ng-repeat="calc in calculators">
        <div class="col-md-4">
            <div class="calc">
                <h2>Calculator - {{ calc.data.name }}</h2>
                <form role="form" class="form-horizontal">
                    <div class="form-group  form-group-sm">
                        <label for="dayRate" class="col-sm-6 control-label">Day rate</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" name="dayRate" ng-model="calc.data.dayRate">
                        </div>
                    </div>
                    <div class="form-group  form-group-sm">
                        <label for="weeksPerYear" class="col-sm-6 control-label">Weeks per year</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" name="weeksPerYear" ng-model="calc.data.weeksPerYear">
                        </div>
                    </div>
                    <div class="form-group  form-group-sm">
                        <label for="agencyPercentage" class="col-sm-6 control-label">Agency %</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" name="agencyPercentage" ng-model="calc.data.agencyPercentage">
                        </div>
                    </div>
                    <div class="form-group  form-group-sm">
                        <label for="payeSalary" class="col-sm-6 control-label">PAYE salary</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" name="payeSalary" ng-model="calc.data.payeSalary">
                        </div>
                    </div>
                    <div class="form-group  form-group-sm">
                        <label for="vatFlatRatePercentage" class="col-sm-6 control-label">VAT Flat Rate %</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" name="vatFlatRatePercentage" ng-model="calc.data.vatFlatRatePercentage">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="calc.data.vatFirstYear"> VAT first year
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group  form-group-sm">
                        <label for="dividendPercentage" class="col-sm-6 control-label">Dividend %</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" name="dividendPercentage" ng-model="calc.data.dividendPercentage">
                        </div>
                    </div>
                    <div class="form-group  form-group-sm">
                        <label for="yearlyCosts" class="col-sm-6 control-label">Yearly costs</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" name="yearlyCosts" ng-model="calc.data.yearlyCosts">
                        </div>
                    </div>
                    <div class="form-group  form-group-sm">
                        <label for="dailyExpenses" class="col-sm-6 control-label">Daily expenses</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" name="dailyExpenses" ng-model="calc.data.dailyExpenses">
                        </div>
                    </div>
                    <div class="form-group  form-group-sm">
                        <label for="yearlyExpenses" class="col-sm-6 control-label">Yearly expense</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" name="yearlyExpenses" ng-model="calc.data.yearlyExpenses">
                        </div>
                    </div>
                    <div class="form-group  form-group-sm">
                        <label for="pension" class="col-sm-6 control-label">Pension</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" name="pension" ng-model="calc.data.pension">
                        </div>
                    </div>
                </form>
                <dl class="dl-horizontal">
                    <dt>Gross income</dt>
                    <dd>{{ calc.grossIncome() }}</dd>
                    <dt>VAT saving</dt>
                    <dd>{{ calc.vatFlatRateSaving() }}</dd>
                    <dt>Turnover</dt>
                    <dd>{{ calc.turnover() }}</dd>
                    <dt>Pre tax profit</dt>
                    <dd>{{ calc.preTaxProfit() }}</dd>
                    <dt>Corporation tax</dt>
                    <dd>{{ calc.corporationTax() }}</dd>
                    <dt>Employers NICs</dt>
                    <dd>{{ calc.employersNics() }}</dd>
                    <dt>Post tax profit</dt>
                    <dd>{{ calc.postTaxProfit() }}</dd>
                    <dd></dd>
                    <dt>Employees NICs</dt>
                    <dd>{{ calc.employeesNics() }}</dd>
                    <dd></dd>
                    <dt>Dividend net</dt>
                    <dd>{{ calc.dividendNet() }}</dd>
                    <dt>Dividend gross</dt>
                    <dd>{{ calc.dividendGross() }}</dd>
                    <dt>Taxable gross income</dt>
                    <dd>{{ calc.taxableGrossIncome() }}</dd>
                    <dt>Dividend tax</dt>
                    <dd>{{ calc.dividendTax() }}</dd>
                    <dd></dd>
                    <dt>PAYE salary</dt>
                    <dd>{{ calc.data.payeSalary }}</dd>
                    <dt>Total expenses</dt>
                    <dd>{{ calc.totalExpenses() }}</dd>
                    <dt>PAYE tax</dt>
                    <dd class="tax">{{ calc.payeTax() }}</dd>
                    <dt>Employees NICs</dt>
                    <dd class="tax">{{ calc.employeesNics() }}</dd>
                    <dt>Dividend net</dt>
                    <dd>{{ calc.dividendNet() }}</dd>
                    <dt>Dividend tax</dt>
                    <dd class="tax">{{ calc.dividendTax() }}</dd>
                    <dd></dd>
                    <dt>Take home pay</dt>
                    <dd>{{ calc.takeHomePay() }}</dd>
                    <dt>(Per month)</dt>
                    <dd>{{ calc.takeHomePay() / 12 }}</dd>
                    <dt>Profit left in company</dt>
                    <dd>{{ calc.profitLeftInCompany() }}</dd>
                    <dt>Pension</dt>
                    <dd>{{ calc.data.pension }}</dd>
                    <dt>(% of gross income)</dt>
                    <dd>{{ calc.data.pension * 100 / calc.grossIncome() }}%</dd>
                </dl>
            </div>
        </div>
    </div>
</div>