@{
    ViewBag.Title = "Financial Forecast";
}

@section scripts
{
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/underscore")
    @Scripts.Render("~/scripts/app.js")
}
<div ng-app="myApp" ng-view="" class="container">
</div>